In [36]:
import pandas as pd

df=pd.read_html('http://www.dk3wn.info/p/?page_id=29535')

sats=df[0]
sats.to_pickle('dk3wn.pickle')

In [41]:
sats=pd.read_pickle('./dk3wn.pickle')
# Remove the Not yet active Sats
sats=sats[(sats.Status=='ACTIVE') & (sats.NORAD != 'tbd')]

# How Many Modes are there ?
sats['ModeCnt'] = sats.Mode.apply(lambda x: len(x.split(' ')))

# Look for the expression SK (BPSK FSK etc) in the Mode Setting... this complicates the parsing. 
sats['DIGITAL'] = sats.Mode.apply(lambda x: 1 if 'SK' in x.upper() else 0)

# Show me all NON Shift Keying Sats
sats[sats.DIGITAL==0]

,Satellite,Status,NORAD,Uplink,Downlink,Beacon,Mode,Callsign,Reports,Info,IARU freq coord,Telemetry Decoder,ModeCnt,DIGITAL
45,IRVINE01,ACTIVE,43693,NaN,NaN,437.800,CW,KK6CVB-1,latest report,details,YES,NaN,1,0
60,BIRD-BT (BHUTAN-1),ACTIVE,43591,NaN,NaN,437.375,CW,JG6YKL,latest report,details,YES,NaN,1,0
61,BIRD-PH (MAYA-1),ACTIVE,43590,NaN,NaN,437.375,CW,JG6YKM,latest report,details,YES,NaN,1,0
62,BIRD-MY (UiTMSat-1),ACTIVE,43589,NaN,NaN,437.375,CW,JG6YKN,latest report,details,YES,NaN,1,0
81,INS-1C,ACTIVE,43116,NaN,NaN,435.080,1k2 Manchester,INDUSR-10,latest report,details,NO,NaN,2,0
84,CAS-2T,ACTIVE,41847,.,NaN,435.712,CW,.,latest report,details,NO,NaN,1,0
92,Max Valier Sat,ACTIVE,42778,NaN,NaN,145.960,CW,II3MV,latest report,details,YES,NaN,1,0
130,IO-86 (LAPAN-A2/ORARI),ACTIVE,40931,435.880 145.825.,145.880 145.825,437.425,FM transponder APRS digipeater.,.,latest report,details,YES,NaN,4,0
150,AO-7 (Phase-2B,ACTIVE,07530,145.850 – 950,29.400 – 500,29.502,A,NaN,latest report,details,YES,NaN,1,0
151,AO-7 (Phase-2B),ACTIVE,07530,432.125 – 175,145.975 – 925,145.970,"B,C",NaN,latest report,details,.,NaN,1,0
153,RS-22 (Mozhayets),ACTIVE,27939,.,.,435.352,CW,NaN,latest report,details,NO,NaN,1,0
155,FO-29 (JAS-2),ACTIVE,24278,145.900 – 999,435.900 – 800,435.7964,"SSB,CW",8J1JCS,latest report,details,.,NaN,1,0
156,ISS,ACTIVE,25544,437.550,437.550,437.550,APRS,RS0ISS,latest report,details,.,NaN,1,0
157,ISS,ACTIVE,25544,145.20 / 144.49,145.800,NaN,Voice,NA1SS,latest report,details,.,NaN,1,0
158,ISS,ACTIVE,25544,145.825,145.825,145.825,APRS,"RS0ISS-4, -11",latest report,details,.,NaN,1,0
160,SO-50 (SaudiSat-1c),ACTIVE,27607,145.850,436.795,.,FM_tone 67.0Hz,NaN,latest report,details,.,NaN,2,0
168,CO-66 (SEEDS-II),ACTIVE,32791,.,437.485,437.485,"1k2 FM, CW, Talker",JQ1YGU,latest report,details,YES,NaN,4,0
183,FIRST MOVE,ACTIVE,39439,.,.,145.970,CW,.,latest report,details,YES,NaN,1,0

In [44]:
sats[sats.NORAD == '25544']

,Satellite,Status,NORAD,Uplink,Downlink,Beacon,Mode,Callsign,Reports,Info,IARU freq coord,Telemetry Decoder,ModeCnt,DIGITAL
156,ISS,ACTIVE,25544,437.550,437.550,437.550,APRS,RS0ISS,latest report,details,.,NaN,1,0
157,ISS,ACTIVE,25544,145.20 / 144.49,145.800,NaN,Voice,NA1SS,latest report,details,.,NaN,1,0
158,ISS,ACTIVE,25544,145.825,145.825,145.825,APRS,"RS0ISS-4, -11",latest report,details,.,NaN,1,0

In [43]:
sats['NORAD']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 3 to 187
Data columns (total 14 columns):
Satellite            142 non-null object
Status               142 non-null object
NORAD                142 non-null object
Uplink               91 non-null object
Downlink             90 non-null object
Beacon               139 non-null object
Mode                 142 non-null object
Callsign             127 non-null object
Reports              142 non-null object
Info                 142 non-null object
IARU freq coord      142 non-null object
Telemetry Decoder    6 non-null object
ModeCnt              142 non-null int64
DIGITAL              142 non-null int64
dtypes: int64(2), object(12)
memory usage: 16.6+ KB